
<!DOCTYPE html>

<html lang="es" ng-app="reeCurves">
<head>
<base href="/visiona/"/> <!-- index.jsp -->
<meta charset="utf-8"/>
<script data-blockingmode="auto" data-cbid="c9c273c2-b36e-4c5a-9ce7-892531b772b1" id="Cookiebot" src="https://consent.cookiebot.com/uc.js" type="text/javascript"></script>
<!--meta name="apple-mobile-web-app-capable" content="yes" /-->
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
<meta content="ie=edge" http-equiv="x-ua-compatible"/>
<title translate="home.title">Seguimiento de la demanda de energía eléctrica</title>
<!-- Google Tag Manager  Support
	Código necesario para dar soporte a 'Google Tag Manager'
	* var dataLayer
	* function enviarEvGTM: para los cambios de página. (Event: loadComplete )
	* function enviarEvGTMDownload: para las acciones de bajada de ficheros: (Event: ev_descargacurva )
	* function enviarEvGTMInter: Interacción con recursos de la curva: (Event: ev_recursoscurva )
-->
<script>
      dataLayer = [ {
        'seccion_s1': 'Initial',
        'event': 'preLoadComplete'
      } ];

      function enviarEvGTM ( map, path ) {
        var spath = path.split( "/" );
        if ( map.mapId ) {
          var vdl = {
            'seccion_s1': map.mapId,
            'seccion_s2': map.systemId,
            'seccion_s3': map.typeID ? map.typeID : ( map.typeDateID ? map.typeDateID : ( spath.length > 3 ? spath[ 3 ] : null ) ),
            'seccion_s4': map.dateID,
            'seccion_s5': map.numId != undefined ? map.numId : null,
            'seccion_s6': null,
            'idioma': cacheData.language ? cacheData.language.substring( 0, 2 ) : null,
            'event': 'loadComplete',
            'pagina_error': null
          };
          var pagina = vdl.seccion_s1 +
            ( vdl.seccion_s2 ? '|' + vdl.seccion_s2 : '' ) +
            ( vdl.seccion_s3 ? '|' + vdl.seccion_s3 : '' ) +
            ( vdl.seccion_s4 ? '|' + vdl.seccion_s4 : '' ) +
            ( vdl.seccion_s5 ? '|' + vdl.seccion_s5 : '' );
          vdl[ 'pagina' ] = pagina;
          dataLayer.push( vdl );
          //console.log("enviarEvGTM: ",vdl);
        } else {
          if ( path == '/seleccionar-sistema' ) {
            var vdl = {
              'seccion_s1': 'seleccionar-sistema',
              'seccion_s2': map.systemId,
              'seccion_s3': map.typeID ? map.typeID : ( map.typeDateID ? map.typeDateID : ( spath.length > 3 ? spath[ 3 ] : null ) ),
              'seccion_s4': map.dateID,
              'seccion_s5': map.numId != undefined ? map.numId : null,
              'seccion_s6': null,
              'idioma': cacheData.language ? cacheData.language.substring( 0, 2 ) : null,
              'event': 'loadComplete',
              'pagina_error': null
            };
            dataLayer.push( vdl );
            //console.log("enviarEvGTM: ",vdl);
          }
        }
      }

      function enviarEvGTMDownload ( fileName ) {
        var titulo_documento = fileName ? ( fileName.indexOf( "demand" ) != -1 ? "demanda" : ( fileName.indexOf( "CO2" ) != -1 ? "emisiones" : "generacion" ) ) : "TituloDoc";
        var vdl = {
          'titulo_documento': titulo_documento,
          'idioma': cacheData.language ? cacheData.language.substring( 0, 2 ) : null,
          'event': 'ev_descargacurva',
          'pagina_error': null
        };
        dataLayer.push( vdl );
        //console.log("enviarEvGTMDownload: ",vdl);
      }

      function enviarEvGTMInter ( tipo ) {
        var titulo = tipo == 'grafico' || tipo == 'listado' ? "estructura_de_generacion" : "emisiones";
        var vdl = {
          'titulo': titulo,
          'tipo_recurso': tipo,
          'idioma': cacheData.language ? cacheData.language.substring( 0, 2 ) : null,
          'event': 'ev_recursoscurva',
          'pagina_error': null
        };
        dataLayer.push( vdl );
        //console.log("enviarEvGTMInter: ",tipo,vdl);
      }
    </script>
<!-- END Google Tag Manager  Support -->
<!-- Google Tag Manager -->
<script>( function ( w, d, s, l, i ) {
        w[ l ] = w[ l ] || []; w[ l ].push( {
          'gtm.start':
            new Date().getTime(), event: 'gtm.js'
        } ); var f = d.getElementsByTagName( s )[ 0 ],
          j = d.createElement( s ), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore( j, f );
      } )( window, document, 'script', 'dataLayer', 'GTM-N5H3FB9' );</script>
<!-- End Google Tag Manager -->
<link href="favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon"/>
<!-- css -->
<!-- 20210415 -->
<link href="bower_js/bootstrap.min.css" rel="stylesheet"/>
<link href="bower_js/angular-material.min.css" rel="stylesheet"/>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css"/>
<link href="css/app.css" rel="stylesheet"/>
<!--link rel="stylesheet" href="css/app.min.css"-->
<script>
      window.customHref = 'https://demanda.ree.es';
    </script>
<!-- Nota: En este caso mediante esta variable se consigue seleccionar el entorno al que llamar via sustitucion en  POM -->
<!-- script -->
<!-- E-050708_Cambios_Visiona_II_Parte
  <script src="bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script> -->
<script src="bower_js/jquery.min.js" type="text/javascript"></script>
<script src="lib/modernizr-custom.js" type="text/javascript"></script>
<script src="lib/detectmobilebrowser.js" type="text/javascript"></script>
<!-- E-050708_Cambios_Visiona_II_Parte-->
<script src="bower_js/angular.min.js" type="text/javascript"></script>
<script src="bower_js/angular-ui-router.min.js" type="text/javascript"></script>
<script src="bower_js/ui-bootstrap.min.js"></script>
<script src="bower_js/ui-bootstrap-tpls.min.js"></script>
<script src="bower_js/angular-cookies.min.js" type="text/javascript"></script>
<script src="bower_js/angular-translate.min.js" type="text/javascript"></script>
<script src="bower_js/angular-translate-storage-local.min.js" type="text/javascript"></script>
<script src="bower_js/angular-translate-storage-cookie.min.js" type="text/javascript"></script>
<script src="bower_js/angular-resource.min.js" type="text/javascript"></script>
<script src="bower_js/highcharts.js" type="text/javascript"></script>
<!-- Angular Material Dependencies -->
<!-- E-050708_Cambios_Visiona_II_Parte-->
<script src="bower_js/angular-animate.min.js"></script>
<script src="bower_js/angular-aria.min.js"></script>
<script src="bower_js/angular-material.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
<!--script src="bower_components/maphilight/jquery.maphilight.js" type="text/javascript"></script-->
<!--traducción-->
<script charset="utf-8" src="l10n/es_ES.js" type="text/javascript"></script>
<script charset="utf-8" src="l10n/en_EN.js" type="text/javascript"></script>
<script src="l10n/angular-locale_es-ES.js"></script>
<script src="l10n/angular-locale_en-EN.js"></script>
<!-- core compress -->
<script charset="utf-8" src="build/curvas_demanda.min.js" type="text/javascript"></script>
<!-- current date E-050708_Cambios_Visiona_II_Parte -->
<script type="text/javascript">
      var date = new Date();
      var reeCurrentDate = '' + date.getFullYear() + '-' + ( date.getMonth() + 1 ) + '-' + date.getDate();//'2018-09-13';
    </script>
<!--  E-050708_Cambios_Visiona_II_Parte -->
<script src="bower_js/d3.min.js" type="text/javascript"></script>
<script src="bower_js/topojson.js"></script>
</meta></head>
<body ng-class="{smaller:isMobile(),higher:!isMobile()}" ng-controller="ReeGlobalCtrl">
<div class="wrapper_{{target}}" id="dashboard" ng-controller="ReeCurvesCtrl">
<header md-page-header="">
<md-toolbar class="md-warn">
<div class="md-toolbar-tools" layout="row">
<!--Cabecera con el titulo de la vista actual en fondo negro-->
<div layout="row">
<h1>{{title | translate}}</h1><span class="subtitle-md-toolbar" ng-show="subtitle"> -
                  {{subtitle}}</span>
</div>
<!--Menu derecho auxiliar (tres puntos)-->
<div class="wrapper_toolbar_menu menu-position" layout="row">
<md-menu md-position-mode="target-right target">
<!--Boton derecho para desplegar el menu (tres puntos verticales)-->
<md-button class="md-icon-button menu_share" ng-click="$mdOpenMenu($event)">
<md-tooltip md-direction="left">{{'icons.menu' | translate}}</md-tooltip>
<md-icon>more_vert</md-icon>
</md-button>
<md-menu-content width="4">
<!--Fecha y botones next - preview del calendario-->
<md-menu-item id="md-menu-item-header" ng-if="!menu['sistemas'] &amp;&amp; !menu['ayuda']">
<md-button aria-label="calendario" class="main-menu main-menu-calendar" ng-class="{active:menu['date']}" ng-click="chartToDate()"><md-icon md-svg-src="./img/icons/calendar146.svg"></md-icon></md-button>
<md-button aria-label="anterior" class="md-icon-button main-menu" ng-click="prev()"><md-icon class="main-menu-anterior" md-svg-src="./img/icons/arrowhead7.svg"></md-icon></md-button>
<span>{{dateYMDTimeStamp | dateChange}}</span>
<md-button aria-label="siguiente" class="md-icon-button main-menu" ng-click="next()" ng-hide="dateYMD==defaultDate"><md-icon class="main-menu-siguiente" md-svg-src="./img/icons/arrow487.svg"></md-icon></md-button>
</md-menu-item>
<md-menu-item class="divisor">
<hr class="main-menu-divisor"/>
</md-menu-item>
<!--Boton Sistemas-->
<md-menu-item>
<md-button class="main-menu" ng-class="{active:menu['sistemas']}" ng-click="toSystem()"><md-icon class="spainandisland" md-svg-src="./img/icons/peninsulaeislas6.svg"></md-icon>
<p>{{'icons.sistemas' | translate}}</p>
</md-button>
</md-menu-item>
<!--Boton principal-->
<md-menu-item>
<md-button class="main-menu" ng-class="{active:menu['principal']}" ng-click="toChart()"><md-icon md-svg-src="./img/icons/chart57.svg"></md-icon>
<p>{{'icons.principal' | translate}}</p>
</md-button>
</md-menu-item>
<!--Boton Acumulada-->
<md-menu-item>
<md-button class="main-menu" ng-class="{active:menu['acumulada']}" ng-click="ChartToAccumulated()"><md-icon md-svg-src="./img/icons/bars42.svg"></md-icon>
<p>{{'icons.acumulada' | translate}}</p>
</md-button>
</md-menu-item>
<!--Boton Tablas-->
<md-menu-item>
<md-button class="main-menu" ng-class="{active:menu['tablas']}" ng-click="ChartToTables()"><md-icon md-svg-src="./img/icons/spreadsheet5.svg"></md-icon>
<p>{{'icons.tables' | translate}}</p>
</md-button>
</md-menu-item>
<md-menu-item class="divisor">
<hr class="main-menu-divisor"/>
</md-menu-item>
<!--Boton Infomacion-->
<md-menu-item>
<md-button class="main-menu" ng-class="{active:menu['ayuda']}" ng-click="chartToHelp()"><md-icon md-svg-src="./img/icons/info34.svg"></md-icon>
<p>{{'icons.informacion' | translate}}</p>
</md-button>
</md-menu-item>
<!--Boton cambio de idioma-->
<md-menu-item class="idioma">
<span>Español</span>
<md-switch aria-label="Switch 1" class="md-block" ng-change="toggleLanguage()" ng-model="languageStatus"></md-switch>
<span>English</span>
</md-menu-item>
<md-menu-item class="divisor">
<hr class="main-menu-divisor"/>
</md-menu-item>
<!--Boton Facebook-->
<md-menu-item>
<md-button class="share" ng-click="share($event,'facebook');"><md-icon md-svg-src="./img/icons/facebook55.svg"></md-icon>
<p>Facebook</p>
</md-button>
</md-menu-item>
<!--Boton Twitter-->
<md-menu-item>
<md-button class="share" ng-click="share($event,'twitter');"><md-icon md-svg-src="./img/icons/twitter1.svg"></md-icon>
<p>Twitter</p>
</md-button>
</md-menu-item>
<!--Boton Google-->
<md-menu-item>
<md-button class="share" ng-click="share($event,'google');"><md-icon md-svg-src="./img/icons/google1.svg"></md-icon>
<p>Google</p>
</md-button>
</md-menu-item>
<!--Boton Meneame-->
<md-menu-item>
<md-button class="share" ng-click="share($event,'meneame');"><md-icon md-svg-src="./img/icons/meneame.svg"></md-icon>
<p>Meneame</p>
</md-button>
</md-menu-item>
<md-menu-item class="divisor">
<hr class="main-menu-divisor"/>
</md-menu-item>
<md-menu-item class="creditos">
<p>{{'general.redelectrica'| translate}}</p>
</md-menu-item>
</md-menu-content>
</md-menu>
</div>
</div>
</md-toolbar>
</header>
<!--Div que añade todo el contenido central de cada pagina-->
<md-content>
<div ui-view=""></div>
</md-content>
<!--Div mensaje de error-->
<div class="hidden col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-10 col-md-offset-3 col-md-6 col-md-offset-3 col-lg-6" id="mensajeError" modal="errorData" options="optsErrorData">
<div class="modal-header">
<h2>{{'general.sistamaAutomatico' | translate}}</h2>
</div>
<div class="modal-body">
<p>{{'general.noDisponible' | translate}}</p>
<p>{{'general.disculpe' | translate}}</p>
</div>
<div class="modal-footer">
<button class="btn btn-warning cancel" ng-click="toSystem()">{{'general.otroSistema' | translate}}</button>
</div>
</div>
<footer ng-controller="ReeHomeCtrl">
<table width="100%">
<tr>
<td class="textleft" width="40%">{{'general.redelectrica'| translate}} - www.ree.es - {{'general.derechos'
              | translate}}</td>
<td width="20%"> </td>
<td class="textright" width="40%"><a class="cwhite" href="https://www.ree.es/es/aviso-legal">{{'general.avisolegal'| translate}}</a></td>
</tr>
</table>
</footer>
</div>
</body>
</html>